@import "./media.scss";




$secondaryFont:'Fraunces', serif;
@mixin header__tagline($fontface, $size, $color, $weight) {
    font-family: $secondaryFont;
    font-weight: $weight;
    font-size: $size;
    color: $color;
}


.underline{
    height:9px;
    width:7em;
    opacity: .5;
    position: absolute;
    border-radius: 35px;
    bottom: -4px;
    z-index: -1;
    transition: opacity .2s ease-in-out;
}

.green-bg{
    background:hsl(168, 34%, 41%);
    background-image: url(../images/desktop/image-graphic-design.jpg);
    // object-fit: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
}

.blue-bg{
    background:#62CCFE;
    background-image: url(../images/desktop/image-photography.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
}


html{
    height: 100vh;
}

main{
    max-width: 1400px;
    width:100%;
    margin: 0 auto;
}
body{
    font-size: 18px;
}

.prototype-header{
    background:lightgreen;
    content: "site currently under development";
    padding:10px 10px;
    text-align: center;
}

.logo{
    font-size: 36px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5;
}

header{
    height: 800px;
    padding:40px 40px 0px 40px;
    background-color: hsl(200, 100%, 62%);
    background-image: url(../images/desktop/image-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color:white;
    @include media(">=phone","<=480px"){
        background-image: url(../images/mobile/image-header.jpg);
        height: 100vh;
        background-size: 100%;
        background-position: center bottom;
    }
    .nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:100px ;
    }
  
    
    .links-container{
        display: flex;
        .arrow-section{
            color: black;
            display: flex;
            flex-direction: row-reverse;
            width: 100%;
            justify-content: right;
            visibility: hidden;
        }
        .arrow-up {
            width: 0; 
            height: 0; 
            border-left: 25px solid transparent;
            border-right: 0px solid transparent;
            border-bottom: 30px solid white;
            &.active{
                visibility: visible;
            }
        }

        
        #contact-btn{
            background:hsl(0, 0%, 100%);
            font-family: $secondaryFont;
            color: black;
            padding: 20px 30px;
            border-radius: 35px;
            font-weight: 700;
            text-transform: uppercase;
            transition: background .2s ease-in-out, color .2s ease-in-out;
        }
        #contact-btn:hover{
            background-color: rgb(110,207,255);
            color: white;
        }


        .nav-menu{
            a{
                color: hsl(0, 0%, 100%);
                text-decoration: none;
                margin-left: 3rem;
            }

            
            &.active{
                left:4%;
                top:8rem;
                opacity: 100%;
                @include media(">=phone", "<=480px"){
                    left:10%  
                }

            }
            @include media("<=768px"){
                display:flex;
                position: absolute;
                left:-100%;
                top:10%;
                flex-direction: column;
                width:90%;
                justify-content: center;
                align-items: center;
                opacity: 0;
                transition: opacity .03s ease-in-out;
                a{
                    color: #818498;
                    margin-top:2rem;
                    margin-left: 0;
                    font-weight: 600;
                }

                #contact-btn{
                    // outline: 2px solid blue;
                    background-color:hsl(51deg,99%, 49%) !important;
                    margin-bottom: 2rem;
                    width:fit-content;
                    margin:2rem auto;
                }
                .nav-links-container{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    text-align: center;
                    background:white;
                    width:100%;
                }
            }
            @include media(">=phone", "<=480px"){
                width:80%;  
            }
            

        }
        
    }
    


    .hamburger{
        display: none;
        .hamburger-icon{
            cursor: pointer;
        }
        @include media("<=768px"){
            display:block;
            color:rgba(255,255,255,.5)
        }
    }
    #tagline{
        width: 100%;
        text-align: center;
        margin: 0 auto;
        h1{
            font-size: 60px;
            font-weight: 900;
            text-transform: uppercase;
            font-family: $secondaryFont;
            @include media(">=phone", "<=768px"){
                font-size:2.8rem;
            }
        }
    }
}

.learn-more{
    display: grid;
    grid-auto-flow: row;
    // outline:2px solid brown;
    grid-template-columns: repeat(auto-fit, minmax(180px,50%));
    grid-template-rows: minmax(auto, auto);
    @include media(">=phone", "<=480px" ){
        display: flex;
        flex-direction: column;
    }    
    .learn-more__text{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        @include media(">=phone", "<=480px" ){
            height: 400px;        
        }
        &#one{
            @include media(">=phone", "<=480px"){
                order:0;
            }
        }
     
        &#four{
            @include media(">=phone", "<=480px"){
                order:0;
            }
        }
        .learn-more__text--wrapper{
            width:450px;
            @include media(">=phone", "<=480px" ){
                width:300px;
                margin: 0 auto;
                // border:2px solid blue;
            }
        }

        h2{
            @include header__tagline($secondaryFont, 50px,hsl(198, 62%, 26%), 700);
            margin-bottom: 45px;
            line-height: 1;
            @include media(">=phone", "<=480px" ){
                margin-bottom: 25px;
                font-size: 25px;           
            }
        }
        p{
            font-weight: 600;
            color:hsl(232, 10%, 55%);
            line-height: 1.5;
            @include media(">=phone", "<=480px"){
                line-height: 1;
            }
        }
        & .learn-more__link-container{
            position: relative;
            width:8rem;
            text-align: center;
        }
        
        .underline-yw{
            @extend .underline;
            background:hsl(51, 100%, 49%);
        }
        .underline-rd{
            @extend .underline;
            background-color: hsl(7, 99%, 70%);
        }
        a{
            @include header__tagline($secondaryFont, 1rem,hsl(198, 62%, 26%),700);
            text-transform: uppercase;
            margin-top: 50px;
            display: inline-block;
            text-decoration: none;
            z-index: 10;
            &:nth-of-type(1):hover ~ .underline-yw, &:nth-of-type(1):hover ~ .underline-rd{
                opacity: 1;
            }
        }        
    }
    .learn-more__image{
        width:100%;
        height: 100%;
        &#three{
            @include media(">=phone", "<=480px"){
                order:0;
            }
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &#two{
            grid-column: 2/3;
            grid-row: 1/2;
            @include media(">=phone", "<=480px"){
                order:-1;
            }
        }
        
    }


    .learn-more__additional-info.blue-bg{
        height: 100%;
        @include media(">=phone","<=480px"){
            background-image: url(../images/mobile/image-photography.jpg);
            background-size: 100%;
        }
        &#five{
            @include media(">=phone", "<=480px"){
                order:2;
                height:600px; 
            }
        }
        h2{
            @include header__tagline($secondaryFont, 2rem,hsl(198, 62%, 26%),700 );
            margin-bottom:35px;
        }
        p{
            font-weight: 600;
            color:hsl(198, 62%, 26%);
            line-height: 1.5;
            margin-bottom: 60px;
        }
    }
    .learn-more__additional-info.green-bg{
        height: 100%;
        @include media(">=phone","<=480px"){
            background-image: url(../images/mobile/image-graphic-design.jpg);
            background-size: 100%;
        }
        &#six{
            @include media(">=phone", "<=480px"){
                order:2;
                height:600px;
            }
        }
        h2{
            @include header__tagline($secondaryFont, 2rem,hsl(167, 40%, 24%),700 );
            margin-bottom:35px;
        }
        p{
            font-weight: 600;
            color:hsl(167, 40%, 24%);
            line-height: 1.5;
            margin-bottom: 60px;
}
    }
    .learn-more__additional-text{
       position: relative;
       height: 600px;
       width: 400px;
       margin:0 auto;
       display: flex;
       flex-direction: column;
       justify-content: flex-end;
       align-items: center;
      
    //    margin: 400px 180px 0px 180px;    
       text-align: center; 
    }
    
}

.testimonials{
    padding:150px;
    text-align: center;
    @include media(">=phone", "<=480px"){
        padding:10px;
    }
 
    .testimonials-header h2{
       @include header__tagline($secondaryFont,1.2rem,hsl(210, 18%, 67%) ,800 );
       text-transform: uppercase;
       margin-bottom: 60px;
       letter-spacing: .4rem;
       @include media(">=phone", "<=480px"){
           margin-top: 60px;
       }

    }
    .testimonials__container{
        display: flex;
        width: 100%;
        margin:0 auto;
     
        div{
            width:33%;
            margin-right: 40px;
        }
        div:last-child{
            margin-right: 0px;
        }
        img{
            border-radius: 50%;
            width:100px;
            object-fit: cover;
            margin-bottom: 60px;
        }
        p{
            font-weight: 600;
            color:hsl(232, 10%, 55%);
            margin-bottom: 60px;
        }
        h3{
            @include header__tagline($secondaryFont,1.2rem,hsl(212, 27%, 19%) ,800 );
            margin-bottom: 20px;
        }
        h6{
            font-size: .9rem;
            font-weight: 600;
            color:hsl(210, 18%, 67%);
        }
        @include media(">=phone", "<=480px"){
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            div{
                width:75%;
                margin-bottom: 50px;
                margin-right: 0;
            }
            div:last-child{
                margin-bottom: 60px;
            }
            img{
                margin-bottom: 30px;
            }
            p{
                margin-bottom: 30px;
            }

        }

    }
}

.food-images_container{
    display: flex;
    max-width: 1440px;
    width: 100%;
    position: relative;
    @include media(">=phone","<=480px"){
        flex-direction: column;
    }
    img{
        width: 50%;  
        @include media(">=phone", "<=480px")    {
            width:50%;
            // height: 49%;
        }
    }
    .image-container-1, .image-container-2{
        // border: blue solid 3px;
        display: inline-flex;
        width:100%;
        @include media(">=phone","<=480px"){
            display:inline-flex;
            width: 100%;
            margin: auto;
            text-align: center;
        }
    }
}


footer{
    max-width: 1400px;
    width:100%;
    margin: 0 auto;
    padding:60px;
    text-align: center;
    background-color: hsl(168, 50%, 60%);
    color: hsl(168, 48%, 29%);
    div.logo{
        margin-bottom: 50px;
    }
    & a{
        text-decoration: none;
        color:hsl(168, 48%, 29%);
        font-weight: 700;
        transition:color .1s ease-in-out;
        &:hover{
            color:white;
        }
    }
    & ul{
        display: flex;
        margin-top: 40px;
        align-items: center;
        justify-content: center;

    }
    & li{
        margin-right: 40px;
    }
    & li:last-child{
        margin-right: 0px;
    }

    .socials{
        display: flex; 
        align-items: center;
        justify-content: center;
        margin-top: 80px;
        & img{
            margin-right: 40px;
            cursor: pointer;
            filter: brightness(100%);
            transition: filter .2s ease-in-out;
            &:hover{
                filter: brightness(900%);
            }
            
        }
        & img:last-child{
            margin-right: 0px;
        }
        
    }

}

